@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face
{
    font-family: 'Poppins';
    src: url(../FONTS/Poppins/Poppins-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

*{
    margin: 0px 0px 0px 5px;
    padding: 0px;
}

body
{
    font-family: 'Poppins' ;
    font-weight: 500;
}

main > section
{
    margin: 20px 0px 20px 0px;
}

h3~ul
{
    margin-left: 30px;
}



h1
{
    font-weight: 700;
}

h2
{
    font-weight: 650;
}

h3
{
    margin-top: 10px;
    font-weight: 600;
}



